{{#if @index}}
  <div
    class="absolute top-0 right-0 flex flex-row items-center justify-center w-24 h-24 mt-4 mr-4 text-2xl font-bold rounded-full bg-success-700 text-success-50"
  >
    <span class="text-lg">
      #
    </span>
    {{concat @index}}
  </div>
{{/if}}