<button
  type="button"
  class="flex flex-row items-center transition-all rounded-lg hover:scale-105 active:scale-95 active:bg-primary-700 bg-primary-600 text-primary-50 hover:bg-primary-500
    {{@classes}}"
>
  {{yield}}
</button>