<button
  type="button"
  class="flex flex-row items-center transition-all rounded-lg hover:scale-105 active:scale-95 active:bg-secondary-700 bg-secondary-600 text-secondary-50 hover:bg-secondary-500
    {{@classes}}"
>
  {{yield}}
</button>