<button
  type="button"
  class="flex flex-row items-center transition-all rounded-lg hover:scale-105 active:scale-95 active:bg-success-700 bg-success-600 text-success-50 hover:bg-success-500
    {{@classes}}"
>
  {{yield}}
</button>